spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false
    show-sql: false

storage:
  local:
    upload-dir: /app/uploads
    base-url: https://public.tisaicaptcha.com
